<!DOCTYPE html>
<html>
    <head><title>问题反馈追踪分析系统</title></head>
    <body>
        <form method="post" action="/feed/new">
        <p>近期新词<br>
	<p>开始时间:
		<input type="text" name="year1" value="2014" size=2>年
		<input type="text" name="month1" value="07" size=1>月
		<input type="text" name="day1" value="01" size=1>日
                <input type="text" name="hour1" value="00" size=1>时
                <input type="text" name="minute1" value="00" size=1>分
                <input type="text" name="second1" value="00" size=1>秒</p>
	<p>结束时间:
                <input type="text" name="year2" value="2016" size=2>年
                <input type="text" name="month2" value="01" size=1>月
                <input type="text" name="day2" value="01" size=1>日
                <input type="text" name="hour2" value="00" size=1>时
                <input type="text" name="minute2" value="00" size=1>分
                <input type="text" name="second2" value="00"size=1>秒
		</p>
        <select name="isNew">
    		<option value="new">新词</option>
		<option value="all">热词</option>
    	</select>
	<input type="submit">
        </form>
	<form method="post" action="feed/search">
	        <p>开始时间:
                <input type="text" name="syear1" value="2014" size=2>年
                <input type="text" name="smonth1" value="07" size=1>月
                <input type="text" name="sday1" value="01" size=1>日
                <input type="text" name="shour1" value="00" size=1>时
                <input type="text" name="sminute1" value="00" size=1>分
                <input type="text" name="ssecond1" value="00" size=1>秒</p>
        <p>结束时间:
                <input type="text" name="syear2" value="2016" size=2>年
                <input type="text" name="smonth2" value="01" size=1>月
                <input type="text" name="sday2" value="01" size=1>日
                <input type="text" name="shour2" value="00" size=1>时
                <input type="text" name="sminute2" value="00" size=1>分
                <input type="text" name="ssecond2" value="00"size=1>秒
                </p>
	<p>搜索<br><input type="text" name="word" value=""></p>
	<input type="submit">
	</form>
    </body>
</html>


